@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 5%;
  word-break: break-all;
  color: #555;
  
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ===================
header
======================*/