@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 5%;
  word-break: break-all;
  color: #555;
  font-family: 'M PLUS 1p', sans-serif ,
  'Noto Sans JP', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* ===================
header
======================*/
.header_inner {
  width: 90%;
  display: flex;
  align-items: ;
}